@font-face {
  font-family: opensans;
  src: url(/font/OpenSans-VariableFont_wdth\,wght.ttf);
}

body,
* {
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 1185px;
  margin: 0 auto;
  padding-top: 30px;
  font-family: opensans;
}

.main-container .inner-container {
  max-width: 960px;
  margin: 0 auto;
}

.main-container header .header-logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-bottom: 20px;
}

.main-container header .header-logo img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-container header .header-logo .contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 256px 32px;
      grid-template-columns: 256px 32px;
  grid-gap: 16px;
  -ms-grid-column-align: right;
      justify-self: right;
}

.main-container header .header-logo .contact a {
  font-size: 25px;
  position: relative;
  bottom: -3px;
}

.main-container header .header-logo .contact .header-phone {
  text-align: end;
}

.main-container header .header-logo .contact .header-phone a {
  font-size: 20px;
  color: #a01d20;
  font-weight: 700;
  text-decoration: none;
}

.main-container header .header-logo .contact .header-phone p {
  font-size: 20px;
}

.main-container .header-menu {
  background-color: #e2e4e4;
  height: 60px;
  line-height: 60px;
}

.main-container .header-menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.main-container .header-menu ul a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

.main-container .header-menu ul a:hover {
  color: #a01d21;
}

.main-container .content-box {
  background: url(/images/header-pic_03.png);
  height: 395px;
  background-size: cover;
  position: relative;
}

.main-container .content-box .inner-container .banner {
  position: absolute;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 322px 322px 322px;
      grid-template-columns: 322px 322px 322px;
  color: white;
}

.main-container .content-box .inner-container .banner .box-1 {
  height: 285px;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}

.main-container .content-box .inner-container .banner .box-1 .content-1 h2 {
  font-weight: 700;
  font-size: 20px;
  padding: 40px;
}

.main-container .content-box .inner-container .banner .box-1 .content-1 p {
  font-size: 16px;
  line-height: 26px;
  padding: 0 40px 40px 40px;
}

.main-container .content-box .inner-container .banner .box-1 a {
  background-color: #941519;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 112px 15px 40px;
  position: absolute;
  bottom: 0;
}

.main-container .content-box .inner-container .banner .box-1 a img {
  margin-right: 10px;
}

.main-container .content-box .inner-container .banner .box-2 {
  background-color: rgba(0, 0, 0, 0.7);
  height: 255px;
  border-bottom: 10px solid #941519;
  position: relative;
  bottom: -20px;
}

.main-container .content-box .inner-container .banner .box-2 .content-2 {
  padding: 40px;
}

.main-container .content-box .inner-container .banner .box-2 .content-2 h2 {
  font-size: 20px;
  margin-bottom: 40px;
}

.main-container .content-box .inner-container .banner .box-2 .content-2 p {
  line-height: 26px;
}

.main-container .content-box .inner-container .banner .box-3 {
  background-color: rgba(0, 0, 0, 0.7);
  height: 255px;
  border-bottom: 10px solid #941519;
  position: relative;
  bottom: -20px;
}

.main-container .content-box .inner-container .banner .box-3 .content-3 {
  padding: 40px;
}

.main-container .content-box .inner-container .banner .box-3 .content-3 h2 {
  font-size: 20px;
  margin-bottom: 40px;
}

.main-container .content-box .inner-container .banner .box-3 .content-3 p {
  line-height: 26px;
}

.main-container .middle-container {
  background: url(/images/middle-pic_03.png);
  background-size: cover;
  height: 581px;
  padding: 35px 0;
}

.main-container .middle-container .middle-title {
  margin-bottom: 35px;
  font-size: 28px;
  color: white;
}

.main-container .middle-container .middle-title span {
  color: #941519;
}

.main-container .middle-container .middle-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 597px 347px;
      grid-template-columns: 597px 347px;
  grid-gap: 40px;
  color: white;
}

.main-container .middle-container .middle-content .left-content {
  color: #999999;
}

.main-container .middle-container .middle-content .left-content p {
  margin-bottom: 35px;
  line-height: 28px;
  font-size: 16px;
}

.main-container .middle-container .middle-content .left-content .left-p {
  margin-bottom: 35px;
  line-height: 26px;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
}

.main-container .middle-container .middle-content .right-content h3 {
  margin-bottom: 28px;
}

.main-container .middle-container .middle-content .right-content ul {
  margin-bottom: 35px;
}

.main-container .middle-container .middle-content .right-content ul li {
  list-style: none;
  line-height: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 15px;
}

.main-container .middle-container .middle-content .right-content ul li a {
  text-decoration: none;
  color: #9e1c20;
  font-size: 18px;
  font-weight: 700;
}

.main-container .middle-container .middle-content .right-content ul li a:hover {
  color: #6d7172;
}

.main-container .middle-container .middle-content .right-content ul li .last-li {
  line-height: 10px;
}

.main-container .middle-container .middle-content .right-content ul img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-container .middle-container .middle-content .right-content .gallery {
  color: white;
  background-color: #9e1c20;
  padding: 15px 80px 15px 20px;
  text-decoration: none;
  line-height: 30px;
}

.main-container .middle-container .middle-content .right-content .gallery img {
  margin-right: 10px;
}

.main-container .register-form {
  background-color: #6d7172;
  padding: 52px 0;
}

.main-container .register-form .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 55px;
}

.main-container .register-form .form .left-form {
  color: white;
}

.main-container .register-form .form .left-form h2 {
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 20px;
  display: inline-block;
}

.main-container .register-form .form .left-form #red-p {
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 20px;
  display: inline-block;
  color: #9c1a1e;
}

.main-container .register-form .form .left-form p {
  margin-bottom: 30px;
  line-height: 26px;
  color: #b3b4b4;
}

.main-container .register-form .form .left-form .phone-no {
  font-size: 28px;
  color: white;
}

.main-container .register-form .form .right-form form .double-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.main-container .register-form .form .right-form form .double-form input {
  height: 35px;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 0 15px;
}

.main-container .register-form .form .right-form form .double-form input::-webkit-input-placeholder {
  font-style: italic;
}

.main-container .register-form .form .right-form form .double-form input:-ms-input-placeholder {
  font-style: italic;
}

.main-container .register-form .form .right-form form .double-form input::-ms-input-placeholder {
  font-style: italic;
}

.main-container .register-form .form .right-form form .double-form input::placeholder {
  font-style: italic;
}

.main-container .register-form .form .right-form form .email {
  margin-bottom: 20px;
}

.main-container .register-form .form .right-form form .email input {
  height: 35px;
  border-radius: 8px;
  width: 610px;
  outline: none;
  margin-bottom: 10px;
  border: none;
  padding: 0 15px;
}

.main-container .register-form .form .right-form form .email input::-webkit-input-placeholder {
  font-style: italic;
}

.main-container .register-form .form .right-form form .email input:-ms-input-placeholder {
  font-style: italic;
}

.main-container .register-form .form .right-form form .email input::-ms-input-placeholder {
  font-style: italic;
}

.main-container .register-form .form .right-form form .email input::placeholder {
  font-style: italic;
}

.main-container .register-form .form .right-form form .email #help {
  height: 65px;
}

.main-container .register-form .form .submit-email {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 175px;
      grid-template-columns: 1fr 175px;
}

.main-container .register-form .form .submit-email p {
  font-size: 14px;
  text-align: center;
  color: #b3b4b4;
  line-height: 62px;
}

.main-container .register-form .form .submit-email a {
  text-decoration: none;
  color: white;
  background-color: #9c1a1e;
  padding: 0 23px;
  height: 50px;
  line-height: 50px;
}

.main-container footer .inner-container .footer-grid {
  height: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr 1fr;
      grid-template-columns: auto 1fr 1fr;
}

.main-container footer .inner-container .footer-grid ul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-container footer .inner-container .footer-grid ul li {
  display: inline-block;
  font-size: 12px;
}

.main-container footer .inner-container .footer-grid ul li a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

.main-container footer .inner-container .footer-grid ul li a:hover {
  color: #a01d21;
}

.main-container footer .inner-container .footer-grid ul li .red-b {
  color: #9c1a1e;
}

.main-container footer .inner-container .footer-grid p {
  font-size: 12px;
  color: #b3b4b4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.main-container footer .inner-container .footer-grid img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}
/*# sourceMappingURL=style.css.map */